@model IEnumerable<UserAndRoles>

<h2>Admin</h2>

<p>
    <a asp-action="AddRoleForUser">Add role to user</a> |
    <a asp-action="AddRole">Add new role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @string.Join(", ",item.Roles)

            </td>

            <td>
                <a asp-action="EditRoles" asp-route-id="@item.User.Id">Edit</a> |
            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>

</table>
