@model IEnumerable<UserAndRoles>

@{
    ViewData["Title"] = "ManageRoles";
}

<h2>Manage Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
                

            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                

                <td>
                    @string.Join(", ", item.Roles)
                </td>
                <td>

                 
                    @Html.DisplayFor(modelItem => item.User.UserName)
                <p>Hejhej@hej.se</p>


                </td>

                <td>
                    <a asp-action="EditUserRoles" asp-route-id="@item.User.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.User.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a>
                </td>
            </tr>
        
        }
    </tbody>
        </table>